# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Browser data
browserData/

# Logs
logs
*.log
npm-debug.log*

# OS specific
.DS_Store

# IDE specific files
.idea/
.vscode/ 